body
  background-color #164B69;
  font-family Arial;
  font-size 14px;

.flex
  display flex;
  justify-content space-around;
  flex-wrap wrap;
  align-content center;

.main_block > .grid
  font-weight bold;

a.active
      background-color #DCDCDC;

.right
  float right
  @media screen and (max-width 600px)
    float none;
    margin 0 auto;
    display block;

video
  width 100%;

.page_2
  margin-top 15px;

.page_2 > img
  min-width 200px;
  max-width 303px;

.page_i > img, .page_2 > img
  margin 0 15px 15px 15px;

.main_flex
  font-weight bold;

i
  word-spacing 10px;

p
  text-align justify;
  line-height 2;
  text-indent 30px;
  word-spacing 0;
  @media screen and (max-width 600px)
    line-height 1;
    font-size 0.9em;

.main_block
  margin 0 auto;
  min-height 700px;
  min-width 700px;
  padding 40px;
  background-color #E3E3E3;
  max-width 860px;
  @media screen and (max-width 600px)
    width 100vw - 80px;
    min-width 500px;

.flex.triple
  set-grid-template-columns-three(170px)

.page_1 > p, .page_1 > div
  margin 15px;

.page_1 > div > img
  margin-bottom 15px;
  height 140;
  object-fit cover;

.page_3 > img
  object-fit cover;
  margin 26px 6px 6px 6px;
  max-width 290px;

.c > img
  width 10px;
  object-fit cover;
  flex 1;
  margin 15px;