extends template
block content
    #gallery.pswp-gallery.pswp-gallery--single-column
        a(href='https://cdn.photoswipe.com/photoswipe-demo-images/photos/2/img-2500.jpg', data-pswp-width='1669', data-pswp-height='2500', target='_blank')
            img(src='https://cdn.photoswipe.com/photoswipe-demo-images/photos/2/img-200.jpg', alt='')

        a(href='https://cdn.photoswipe.com/photoswipe-demo-images/photos/7/img-2500.jpg', data-pswp-width='1875', data-pswp-height='2500', data-cropped='true', target='_blank')
            img(src='https://cdn.photoswipe.com/photoswipe-demo-images/photos/7/img-200.jpg', alt='')

        a(href='', data-pswp-src='https://cdn.photoswipe.com/photoswipe-demo-images/photos/3/img-2500.jpg', data-pswp-width='2500', data-pswp-height='1666', target='_blank')
            img(src='https://cdn.photoswipe.com/photoswipe-demo-images/photos/3/img-200.jpg', alt='')

        a(href='', data-pswp-src='https://cdn.photoswipe.com/photoswipe-demo-images/photos/5/img-2500.jpg', data-pswp-width='2500', data-pswp-height='1668', target='_blank')
            img(src='https://cdn.photoswipe.com/photoswipe-demo-images/photos/5/img-2500.jpg', alt='', width='500')

        div
            a(href='https://cdn.photoswipe.com/photoswipe-demo-images/photos/6/img-2500.jpg', data-pswp-width='2500', data-pswp-height='1667', target='_blank')
                img(src='https://cdn.photoswipe.com/photoswipe-demo-images/photos/6/img-200.jpg', alt='')
