extends template
block content
  details
    summary  График 
    form
      table
        tbody
          tr
            th Значениe по оси OX
            th Результат
          tr
            td
              input(type='radio' name='ox' value='0')
              | Среднее время прослушивания
              br
              input(type='radio' name='ox' value='1')
              | Длительность
              br
              input(type='radio' name='ox' value='3')
              | Включений за месяц
              br
            td
              input(type='checkbox' name='oy' value='0')
              | Радиостанция
              br
              input(type='checkbox' name='oy' value='1')
              | Количество треков
              br
              input(type='checkbox' name='oy' value='3')
              | Разница в С.В.П. и Д.
              br
      input(type='button' value='Построить')
      p Здесь будет график
  details
    summary  Фильтр
    form
      p
        label(for='name') Название:
        input(type='text' id='name')
      p
        label(for='vkl') Включений за месяц:
        input(type='text' id='vkl')
      p
        label(for='avg') Среднее время прослушивания:
        input(type='text' id='avg')
      p
        label(for='radio') Радиостанция:
        input(type='text' id='radio')
      p
        label(for='length') Длительность:
        input(type='text' id='length')
      input(type='button' value='Найти')
  details
    summary Сортировка
    form
      p
        | Первый уровень:
        select(name='sortFirst')
          option(value='0') Нет
          option(value='1') Название
          option(value='2') Включений за месяц
          option(value='3') Среднее время прослушивания
          option(value='4') Радиостанция
          option(value='6') Длительность
        |             по убыванию? 
        input(type='checkbox' name='descFirst')
      p
        | Второй уровень:
        select(name='sortSecond')
          option(value='0') Нет
          option(value='1') Название
          option(value='2') Включений за месяц
          option(value='3') Среднее время прослушивания
          option(value='4') Радиостанция
          option(value='6') Длительность
        |             по убыванию? 
        input(type='checkbox' name='descSecond')
      p
        | Третий уровень:
        select(name='sortThird')
          option(value='0') Нет
          option(value='1') Название
          option(value='2') Включений за месяц
          option(value='3') Среднее время прослушивания
          option(value='4') Радиостанция
          option(value='6') Длительность
        |             по убыванию? 
        input(type='checkbox' name='descThird')
      input(type='button' value='Сортировать')
  br
  table
    thead
      tr
        th Название
        th Включений за месяц
        th Среднее время прослушивания
        th Радиостанция
        th Длительность
    tbody
      tr
        td SHAMAN — ВЫЗОВ саундтрек к шоу ТНТ Вызов
        td 37
        td 2:49
        td Авторадио
        td 3:19
      tr
        td Фейгин - Ливни Листопады
        td 36
        td 2:06
        td Авторадио
        td 2:16
      tr
        td Mary Gu - Калифорния
        td 34
        td 7:27
        td Авторадио
        td 7:37
      tr
        td Винтаж — Лети за солнцем Filatov & Karas Mix
        td 34
        td 9:23
        td Авторадио
        td 9:33
      tr
        td DJ SMASH & NIVESTA - Позвони
        td 34
        td 8:16
        td Авторадио
        td 8:26
      tr
        td Все Звёзды - Гимн Авторадио
        td 33
        td 6:20
        td Авторадио
        td 6:30
      tr
        td Люся Чеботина - ПЛАКАЛ ГОЛЛИВУД
        td 32
        td 3:44
        td Авторадио
        td 3:54
      tr
        td Сергей Лазарев - Танцуй
        td 29
        td 4:30
        td Авторадио
        td 4:40
      tr
        td ANIVAR - Билет в бесконечность
        td 27
        td 5:07
        td Авторадио
        td 5:17
      tr
        td Burito - Она
        td 27
        td 5:34
        td Авторадио
        td 6:44
      tr
        td Моя Мишель Dose - Пташка
        td 26
        td 7:07
        td Авторадио
        td 8:17
      tr
        td Владимир Пресняков – Синяя птица
        td 24
        td 2:12
        td Авторадио
        td 2:22
      tr
        td Люся Чеботина - Солнце Монако
        td 19
        td 7:18
        td Авторадио
        td 8:28
      tr
        td JONY - Никак
        td 17
        td 5:35
        td Авторадио
        td 5:45
      tr
        td DJ SMASH Artik & Asti - CO2
        td 16
        td 6:20
        td Авторадио
        td 6:30
      tr
        td Zivert - WAKE UP
        td 16
        td 1:42
        td Авторадио
        td 1:52
      tr
        td Ваня Дмитриенко - Вечно молодым OST "Струны"
        td 16
        td 8:40
        td Авторадио
        td 8:50
      tr
        td Звонкий – Вот и всё
        td 15
        td 3:40
        td Авторадио
        td 3:50
      tr
        td Dabro - Мне не страшно Песня про брата
        td 15
        td 5:05
        td Авторадио
        td 6:15
      tr
        td Лолита & Коста Лакоста — По-другому
        td 15
        td 1:24
        td Авторадио
        td 1:34
      tr
        td Татьяна Буланова - Поезда
        td 29
        td 4:21
        td Дорожное радио
        td 4:50
      tr
        td Владимир Пресняков – У тебя есть я
        td 29
        td 2:49
        td Дорожное радио
        td 3:15
      tr
        td Денис Клявер - Тебя удача найдёт
        td 27
        td 5:01
        td Дорожное радио
        td 5:28
      tr
        td Денис Майданов - Молодость моя
        td 26
        td 3:45
        td Дорожное радио
        td 3:45
      tr
        td Группа ПЯТЕRО и Лев Лещенко с песней "Все было да прошло"
        td 25
        td 3:04
        td Дорожное радио
        td 3:23
      tr
        td Александр Устюгов - Попутчица
        td 25
        td 4:21
        td Дорожное радио
        td 5:24
      tr
        td Лолита – Грустная танцую
        td 24
        td 1:50
        td Дорожное радио
        td 2:10
      tr
        td Валерия - Потеряла сердце
        td 24
        td 5:32
        td Дорожное радио
        td 5:42
      tr
        td Елена Воробей Красное и белое
        td 21
        td 1:27
        td Дорожное радио
        td 1:28
      tr
        td Dabro - Мне не страшно Песня про брата
        td 17
        td 6:00
        td Дорожное радио
        td 6:50
      tr
        td Александр Иванов и группа Рондо — Стрелой
        td 16
        td 1:40
        td Дорожное радио
        td 1:50
      tr
        td Юлия Проскурякова - Журавлик I Новая Красивая песня о любви I
        td 15
        td 1:32
        td Дорожное радио
        td 1:32
      tr
        td ANNA ASTI & Филипп Киркоров — Хобби
        td 15
        td 5:18
        td Дорожное радио
        td 6:16
      tr
        td ANIVAR - Билет в бесконечность
        td 15
        td 2:49
        td Дорожное радио
        td 2:51
      tr
        td JONY - Титры
        td 54
        td 4:49
        td Русское радио
        td 5:49
      tr
        td EMIN - на обратной стороне
        td 50
        td 5:28
        td Русское радио
        td 5:48
      tr
        td ХАННА - Море
        td 48
        td 3:17
        td Русское радио
        td 3:27
      tr
        td Ночь расскажет
        td 47
        td 1:15
        td Русское радио
        td 1:25
      tr
        td ANNA ASTI - По барам
        td 44
        td 2:36
        td Русское радио
        td 2:46
      tr
        td Слава Анна Семенович – Бумеранг
        td 43
        td 2:48
        td Русское радио
        td 2:58
      tr
        td Filatov & Karas — Движ
        td 43
        td 5:17
        td Русское радио
        td 5:27
      tr
        td Сергей Лазарев - Танцуй
        td 41
        td 6:30
        td Русское радио
        td 6:40
      tr
        td Ирина Дубцова & Natan – Давай обнимемся в последний раз
        td 40
        td 4:12
        td Русское радио
        td 4:22
      tr
        td Полина Гагарина & Дима Билан ― Души сингла
        td 39
        td 2:24
        td Русское радио
        td 2:34
      tr
        td Владимир Пресняков – Синяя птица
        td 38
        td 2:01
        td Русское радио
        td 2:11
      tr
        td Лариса Долина - Двое На Ветру Clip Remastered
        td 38
        td 1:11
        td Русское радио
        td 1:21
      tr
        td Artik & Asti - Гармония
        td 34
        td 5:19
        td Русское радио
        td 5:29
      tr
        td Наталья Подольская - Такая сильная любовь
        td 32
        td 1:27
        td Русское радио
        td 1:37
      tr
        td Марина Бриз - Не трогай меня
        td 32
        td 3:17
        td Русское радио
        td 3:27
      tr
        td Юлия Савичева - Синоптики
        td 31
        td 4:36
        td Русское радио
        td 4:46
      tr
        td Стас Костюшкин - Останешься
        td 31
        td 5:20
        td Русское радио
        td 5:30
      tr
        td Dabro - Услышит весь район
        td 31
        td 4:05
        td Русское радио
        td 4:15
      tr
        td Люся Чеботина - Солнце Монако
        td 30
        td 3:12
        td Русское радио
        td 3:22
      tr
        td Валерия — Синица OST Я хочу Я буду
        td 30
        td 2:02
        td Русское радио
        td 2:12
  hr
