extends template
block content
  .row
    .col-12
      svg#graph
    .col-md-6
      .row
        .col-12
          p.h3 График
          form#graph-form
            table.table.table-dark.table-borderless
              tbody
                tr.table-secondary
                  th Значениe по оси OX
                  th Результат
                tr
                  td
                    input(type='radio' id='ox1' value='Среднее время прослушивания' name="axis-x")
                    label.form-label(for='ox1') Среднее время прослушивания
                  td
                    input(type='radio' id='oy1' value='Радиостанция' name="axis-y")
                    label.form-label(for='oy1') Радиостанция
                tr
                  td
                    input(type='radio' id='ox2' value='Длительность' name="axis-x")
                    label.form-label(for='ox2') Длительность
                  td
                    input(type='radio' id='oy2' value='Включений за месяц' name="axis-y")
                    label.form-label(for='oy2') Включений за месяц
                tr
                  td
                    input(type='radio' id='ox3' value='Включений за месяц' name="axis-x")
                    label.form-label(for='ox3') Включений за месяц
            button(type='button' class="btn btn-primary") Построить
        .col-12
          p.h3 Сортировка
          form#sort-form(method="post" onsubmit='return SortByForm(event)')
            table.table.table-dark
              thead
                tr
                  th Уровни сортировки
                  th Порядок сортировки
              tbody
                tr
                  td
                    select.form-select(name='sort-1')
                      option(value='0') Нет
                      option(value='1') Название
                      option(value='2') Включений за месяц
                      option(value='3') Среднее время прослушивания
                      option(value='4') Радиостанция
                      option(value='5') Длительность
                  td
                    input.btn.btn-secondary(type='button' name='sort-btn-1' value='По возрастанию')
                tr
                  td
                    select.form-select(name='sort-2' disabled)
                      option(value='0') Нет
                      option(value='1') Название
                      option(value='2') Включений за месяц
                      option(value='3') Среднее время прослушивания
                      option(value='4') Радиостанция
                      option(value='5') Длительность
                  td
                    input.btn.btn-secondary(type='button' name='sort-btn-2' value='По возрастанию')
                tr
                  td
                    select.form-select(name='sort-3' disabled)
                      option(value='0') Нет
                      option(value='1') Название
                      option(value='2') Включений за месяц
                      option(value='3') Среднее время прослушивания
                      option(value='4') Радиостанция
                      option(value='5') Длительность
                  td
                    input.btn.btn-secondary(type='button' name='sort-btn-3' value='По возрастанию')
            button(type='submit' class="btn btn-primary") Сортировать
    .col-md-6
      p.h3 Фильтр
      form#filter-form(method="post" onsubmit='return FilterByForm(event)')
        p
          label.form-label(for='name') Название:
          input.form-control(type='text' id='name' placeholder='Введите название...')
        p
          label.form-label(for='vkl') Включений за месяц:
          input.form-control(type='text' id='vkl' placeholder='Введите количество включений...')
        p
          label.form-label(for='avgMin') Минимальное среднее время прослушивания:
          input.form-control(type='text' id='avgMin' placeholder='Введите минимальное среднее время прослушивания...')
        p
          label.form-label(for='avgMax') Максимальное среднее время прослушивания:
          input.form-control(type='text' id='avgMax' placeholder='Введите максимальное среднее время прослушивания...')
        p
          label.form-label(for='radio') Радиостанция:
          input.form-control(type='text' id='radio' placeholder='Введите название радиостанции...')
        p
          label.form-label(for='lengthMin') Минимальную длительность трека:
          input.form-control(type='text' id='lengthMin' placeholder='Введите минимальную длительность...')
        p
          label.form-label(for='lengthMax') Максимальную длительность трека:
          input.form-control(type='text' id='lengthMax' placeholder='Введите максимальную длительность...')
        button(type='submit' class="btn btn-primary") Найти
  hr
  button#ToggleTable(class="btn btn-primary mb-3")
  table.table.table-dark.table-striped.table-bordered(id='table')
    thead
    tbody
  hr