html(lang='ru')
  head
    meta(charset='UTF-8')
    title XRadio
    link(rel="stylesheet", href="css/main.css")
  body
    div.container
        .flex.menu
            each name, link in {'index.html':'Главная', 'rating.html':'Самые прослушиваемые треки', '#1':'Лучшие радиостанции', '#2':'Новости'}
                a(href=link) #{name}
        hr
        block content