body {
  background-image: url('../img/bg.jpg');
  background-attachment: fixed;
}

.container {
  margin-top: 56px;
}

@media (max-width: 790px) {
  .table th {
    font-size: 0.6em;
  }
}

.axis {
  font: 10px sans-serif;

  path, line {
    fill: none;
    stroke: white;
    shape-rendering: crispEdges;
    stroke-width: 1px;
  }
}

svg#graph {
  margin-left: 30px;
  overflow: visible;
  margin-bottom: 30px;
}

.rec {
  fill: white;
}